<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.khash.gtsport">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My GT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="List of Scores"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditActivity"
            android:label="Edit Score"
            android:parentActivityName=".ListActivity" />
        <activity
            android:name=".AnyChartActivity"
            android:label="Chart View"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MPChartActivity"
            android:label="Chart View"
            android:parentActivityName=".MainActivity"/>

        <provider
            android:authorities="tech.khash.gtsport"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
<!--        android:authorities="com.example.prov"-->
<!--        android:grantUriPermissions="true"-->

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>